Source Files/
Projects/**SetupFiles/
Projects/**-Setup Files/
*.obj
*.pdb
*.user
*.aps
*.dll
*.suo
*.sln.docstates
*.cache
*.back.aip
*.testlog
**/packages
**/debug
**/obj
**/sqlite3
**/release
**/*SetupFiles
**/*-cache
.vs/*
