Source Files/
Projects/*/*-SetupFiles/
*.obj
*.exe
*.pdb
*.user
*.aps
*.dll
*.suo
*.sln.docstates
*.cache
*.back.aip
*.testlog
**/packages
**/debug
**/obj
**/sqlite3
**/release
**/*SetupFiles
**/*-cache
.vs/*
